<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>History Timeline</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="logo">
       <a href="../index.html"> <img src="images/habitude_logo.jpg" alt=""></a>
    </div>

    <div class="page-title">
        <h3>All Governors & Viceroys of EAST INDIA COMPANY</h3>
    </div>

    <!-- timeline  -->
    <div class="timeline">
        <!-- 1. Robert Clive -->
        <div class="container left-container">
            <img src="images/robertClive.png" alt="">
            <div class="text-box">
                <h2>Robert Clive</h2>
                <small>1757 - 60 and 1765 - 67</small>
                <p>Robert Clive played a significant role in the East India Company gaining control over Bengal, which eventually led to the conquest of the entire Indian Subcontinent, laying the foundation for the British Raj in India. </p>
                <p><b>Battle of Plassey</b> - 1757</p>
                <p><b>Battle of Bedra</b> - 1759</p>
                <span class="left-container-arrow"></span>
            </div>
        </div>
        <!-- 2. Henry Vansittart  -->
        <div class="container right-container">
            <img src="images/henryVanistart.png" alt="">
            <div class="text-box">
                <h2>Henry Vansittart </h2>
                <small>1759 - 64</small>
                <p><b>Battle of Buxar</b> - 1764 in his time under commandership of <b>Hector Munro</b></p>
                <span class="right-container-arrow"></span>
            </div>
        </div>

        <!-- 2. Robert Clive 2nd Term  -->
        <div class="container left-container">
            <img src="images/robertClive.png" alt="">
            <div class="text-box">
                <h2>Robert Clive</h2>
                <small>3 May 1765 - 20 Jan 1767 - 2nd Term</small>
                <p>Upon his return to India in 1765 as Governor and Commander-in-Chief of Bengal, he took measures to address the prevailing corruption within the company. <br>Clive prohibited the company's employees from engaging in private trade and accepting presents.
                    He established the 'Society of Trade' in 1765. </p>
                    <p><b>Treaty of Allahabd</b>
                        <p>1st - 12 Aug 1765 - with Shah Alam II</p>
                        <p>2nd - 16 Aug 1765 - with Nawab Shuja-ud-Daula of Awadh</p>
                    </p>
                    <b>Dual Government in Bengal</b>
                    
                    <span class="left-container-arrow"></span>
            </div>
        </div>
        
        <!-- 2. Henry Vansittart  -->
        <div class="container right-container">
            <img src="images/oldage.png" alt="">
            <div class="text-box">
                <h2>Harry Verelst</h2>
                <small> 29 Jan 1767 - 24 Dec 1769</small>
                <p>Verelst returned from Chittagong in 1765 to serve on the Select Committee under Clive's second term as governor. In 1765 and 1766 he successfully oversaw and reformed revenue collection at Burdwan and later at Midnapore. </p>
                <span class="right-container-arrow"></span>
            </div>
        </div>
        
        
        <!-- 2. Henry Vansittart  -->
        <div class="container left-container">
            <img src="images/earlyman.png" alt="">
            <div class="text-box">
                <h2>John Cartier</h2>
                <small>26 Dec 1769 - 13 Apr 1772</small>
                <p>Cartier was governor at time of the Bengal famine of 1770, during which one-third of the populace died. </p>
                <span class="left-container-arrow"></span>
            </div>
        </div>
        
        <!-- 2. Henry Vansittart  -->
        <div class="container right-container">
            <img src="images/oldage.png" alt="">
            <div class="text-box">
                <h2>Warren Hastings</h2>
                <small>1772 - 1773 (Governor of Bengal) &  1773 - 1785 (1st Governor-General of Bengal)</small>
                <p> Regulating Act of 1773 <br>
                    First Rohilla War (1773–1774) <br>
                    Supreme Court of Judicature at Fort William (1774) was established  <br>
                    Formation of Supreme Council of Bengal (1774)  <br>
                    First Anglo-Maratha War (1775–1782)  <br>
                    <br>
                    Formed Amini Commission (1776)  <br>
                    Founded Calcutta Madrasa (Aliah University) (1780)  <br>
                    James Augustus Hicky's Bengal Gazette - first Indian newspaper published (1780) <br>
                    Second Anglo-Mysore war (1780–1784)  <br>
                    Asiatic Society of Bengal was established by Sir William Jones (1784) <br>
                    <br>
                    Pitt's India Act (1784) <br>
                    Creation of collector post <br>
                    The first Governor General to be prosecuted for impeachment. As a consequence of his involvement in First Rohilla War <br>
                    Experimentation on land settlements <br>
                    Ended providing pension to the Mughal Emperor Shah Alam II
                    <br>
                    Abolished the Dual System in Bengal (which was introduced by Robert Clive) <br>
                    Moved Treasury from Murshidabad to Calcutta <br>
                    Abolished Dastak system (which was introduced by Robert Clive) <br>
                    English translation of the Bhagwat Gita by Charles Wilkins </p>
                    <span class="right-container-arrow"></span>
                </div>
            </div>
            
            <!-- 2. Earl Cornwallis  -->
            <div class="container left-container">
                <img src="images/earlyman.png" alt="">
            <div class="text-box">
                <h2>Earl Cornwallis</h2>
                <small>1785 - 93</small>
                <p>Established lower courts and appellate courts <br> 
                    Third Anglo-Mysore war (1790–1792) <br>
                    Sanskrit Vidyalaya at Benaras (now Varanasi) established by Johnathan Duncan (then Governor of Bombay) (1791) <br>
                    Permanent Settlement in Bihar and Bengal (1793) <br>
                    Introduction of Cornwallis Code (1793) <br>
                    Introduction of Civil Services in India </p>
                <span class="left-container-arrow"></span>
            </div>
        </div>

        <div class="container right-container">
            <img src="images/oldage.png" alt="">
            <div class="text-box">
                <h2>John Shore</h2>
                <small>1793 - 98</small>
                <p>Policy of Non-intervention <br>
                    Charter Act of 1793 <br>
                    Second Rohilla War 1794 <br>
                    Battle of Kharda between Nizam and Marathas (1795) </p>
                <span class="right-container-arrow"></span>
            </div>
        </div>

        <div class="container left-container">
            <img src="images/earlyman.png" alt="">
            <div class="text-box">
                <h2>Richard Wellesley</h2>
                <small>1798 - 1805</small>
                <p>Introduction of Subsidiary Alliance (1798)  <br>
                    Fourth Anglo Mysore War 1799 <br>
                    Censorship Act, 1799 <br>
                    Took over the administration of Tanjore (1799), Surat (1800) and Carnatica (1801) <br>
                    Fort William College at Calcutta (1800) <br>
                    The Subsidiary Treaty of Bassein (1802)[5] and Second Anglo-Maratha War (1803–1805)[6] <br>
                    Raj Bhavan at Calcutta was established (1803) </p>
                <span class="left-container-arrow"></span>
            </div>
        </div>

        <div class="container right-container">
            <img src="images/oldage.png" alt="">
            <div class="text-box">
                <h2>Lord Minto I</h2>
                <small>1807 - 13</small>
                <p>Treaty of Amritsar (1809) with Ranjit Singh <br>
                    Treaty of Eternal Friendship (1809) with Talpur Rulers of Sindh <br>
                    Charter Act of 1813</p>
                <span class="right-container-arrow"></span>
            </div>
        </div>
        
        <div class="container left-container">
            <img src="images/earlyman.png" alt="">
            <div class="text-box">
                <h2>Lord Hastings</h2>
                <small>1813 - 23</small>
                <p>Ended the policy of Non-intervention
                    Anglo-Nepalese War (1814–1816) ended with the signing of Treaty of Sugauli (1816)[7]
                    Third Anglo-Maratha War (1816–1818) and the abolition of Peshwaship
                    Hindu College (now Presidency University) at Calcutta (1817)
                    The Pindari War (1817–1818) (Complete Destruction of the Pindari Clan of India)
                    Subversion of Peshwa Baji Rao II and annexation of his territories to the Bombay Presidency (1818)
                    Establishment of Ryotwari System in Madras Presidency (1820) by the governor Thomas Munro, 1st Baronet
                    Establishment of Mahalwari System in Northern India by Holt Mackenzie (1822)
                    Bengal Tenancy Act was passed (1822)
                    General Committee of Public Instruction was formed (1823) </p>
                <span class="left-container-arrow"></span>
            </div>
        </div>

        <div class="container right-container">
            <img src="images/oldage.png" alt="">
            <div class="text-box">
                <h2>Earl Amherst</h2>
                <small>1823 - 28</small>
                <p>Barrackpore mutiny of 1824 <br>
                    Establishment of Sanskrit College at Calcutta (1824) <br>
                    First Anglo-Burmese War (1824–1826) (East India Company defeats Burmese King Bagyidaw and annexes Assam, Manipur, Arakan and Tenasserim) <br>
                    Treaty of Yandabo, 1826 (East India Company humiliates and extracts 1 million Pounds from the Burmese King Bagyidaw) </p>
                <span class="right-container-arrow"></span>
            </div>
        </div>

        <div class="container left-container">
            <img src="images/earlyman.png" alt="">
            <div class="text-box">
                <h2>Lord William Bentinck</h2>
                <small>1828 - 35</small>
                <p>First Governor General of India  <br>
                    Bengal Sati Regulation, 1829 <br>
                    Suppression of Thuggee (1829–1835) <br>
                    Kol Rebellion (1831) <br>
                    Barasat Uprising (1831), led by Titumir <br>
                    Annexation of Mysore (1831), Coorg (1834), and central Cachar (1834) <br>
                    Charter Act 1833 (administrative reforms as well as formalising the non-discrimination in employment of Indians by religion) <br><br>
                    English Education Act 1835 and introduction of English as a medium of instruction. English was also introduced by the Bengal  government in the Calcutta Madrasa in 1829 <br>
                    Medical College and Hospital, Kolkata (1835) <br>
                    Abolition of the provincial courts of appeal and circuit set by Cornwallis, appointment of commissioners of revenue and circuit <br>
                    Mahalwari System in Central India, Punjab and western Uttar Pradesh <br>
                    Brahmo samaj established by Ram Mohan Roy </p>
                <span class="left-container-arrow"></span>
            </div>
        </div>

        <div class="container right-container">
            <img src="images/oldage.png" alt="">
            <div class="text-box">
                <h2>Lord Baronet</h2>
                <small>1835 - 36</small>
                <p>Repealed 1823 Licensing Regulations <br>
                    Known as Liberator of India Press <br>
                    Establishment of Calcutta Public Library (1836) (currently known as National Library of India) </p>
                <span class="right-container-arrow"></span>
            </div>
        </div>

    </div>

    <div class="page-title">
        <h3>to be continued...</h3>
    </div>
</body>
</html>


<!-- https://en.wikipedia.org/wiki/List_of_governors-general_of_India -->